.titles {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #2c2c2c;
}

.index-title {
    font-family: 'Bebas Neue', cursive;
    font-size: xx-large;
}

.main-navbar {
    background-color: #827ffe;
}

.nav-link {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

.headerp{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image:url(assets/images/header-img.jpg);
    background-size: 100%;
}
